:root {
    --color-pokecircle-one:#E6E9ED;
    --color-pokecircle-two:#fff700;
    --color-pokecircle-three:#ff0000; 
    --color-pokecircle-four:#00ff2a; 
    --color-pokecircle-five:#0066ff; 
    --color-black:#000000; 
    --color-red: rgb(158, 14, 14);
    --color-white: white;
    --color-grey: rgb(53, 58, 63);
    
}



body{
background-color: var(--color-white);
font-family: 'Roboto', sans-serif ;
font-weight: 100;
font-size: 16px;
line-height: 1.6;
}

.parentdiv {
    display: inline-block ;
    justify-content: center;
    align-items: center;
}





@keyframes color-change {
    0% {
      fill: var(--color-pokecircle-one);
    }
    25% {
      fill: var(--color-pokecircle-two);
    }
    50% {
      fill: var(--color-pokecircle-three);
    }
    75% {
        fill: var(--color-pokecircle-four);
      }
    100% {
      fill: var(--color-pokecircle-five);
    }
  }
  
  .pokecircle {
    animation-duration: 3s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

.pokeballLogo {
    position:relative;
    float: right;
    width: 50px;
    margin: 5px;
    
}




.list {
  list-style: none;
  padding: 5px;
  margin: 5px;
  flex-grow: 1;
  
}

.pokemon-list {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  border: none;

}



/* JavaScript Button for Pokemons */
.pokemon-list-button {
  
  align-items: center;
  text-align:  top;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: var(--color-grey);
  color: var(--color-white);
  border-radius: 50%;
  min-width: 250px;
  min-height:250px;
  text-transform: capitalize;
  margin: 20px;
  
  
}

.pokemon-list-button:hover {
  cursor: pointer;
  transition-duration: 0.3s;
  font-size: 18px;
  background-color: var(--color-white);
  color: var(--color-black);
  box-shadow: var(--color-black) 0 0 40px -10px;
}


.modal-content{
  position: relative;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 360px;
  border-radius: 50%;
  box-shadow: var(--color-black) 0 0 1000px -20px;
  text-transform: capitalize;
  margin: auto;
  margin-top: 200px;
  
 
 
}

.close{
  position: relative;
  right:-50px;
  top: -42px;
  cursor: pointer;
}


.close span:hover {
  position: relative;
  transition-duration: 0.3s;
  color: var(--color-white);
  box-shadow: var(--color-black) 0 0 40px -10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
} 

.modal-header {
  position: absolute;
  top: -90px;
  border-bottom: none;
  color: var(--color-white);
  align-items: center;
  justify-content: center;
  display: block;
}


.modal-footer{
  border-top: none;

}

.btn-secondary{
  border-radius: 30px;
}

.hide {
  display: none;
}